<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Demo page</title>
    <script src="js/angular-min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<h2>Greeting</h2>
<p th:text="'Hello, ' + ${name} + '!'" />
<br/>
<form action="/" method="GET">
    <input type="submit" value="back" />
</form>
<form action="/greeting" method="post" >
	<input type="submit" value="greeting"/>
</form>

</body>
</html>
